@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Quintessential&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
}

.card .story-line-container {
  padding: 1rem 3rem 2rem;
  color: #312300;
  font-family: 'Berkshire Swash', cursive;
  font-weight: 700;
  height: 150px;
  display: flex;
  align-items: center;
}

.card .story-line-container div {
  padding: 0 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.2);
}

entirestory {
  padding: 1rem 4rem 2rem;
  color: #312300;
  font-family: 'Berkshire Swash', cursive;
  text-align: justify;
  margin: auto;
}

.dialogue-container {
  padding: 2rem 0 1rem;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  text-shadow: 1px 1px 0px rgb(255, 245, 130);
  color: rgb(194, 114, 0);
}

reference {
  display: block;
  height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  padding: 0.2rem;
  z-index: 1;
}

border {
  display: block;
  padding: 10px;
  z-index: 1;
}

content,
scrolltop,
scrollbottom {
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  background-color: rgb(255, 205, 97);
  background-blend-mode: multiply, luminosity;
}

content {
  background-image: url(/src/assets/black-felt.png), linear-gradient(rgba(255, 255, 255, 0%) 0%, rgba(255, 255, 255, 20%) 10%, rgba(255, 255, 255, 20%) 90%, rgba(255, 255, 255, 0%) 100%);
  background-blend-mode: multiply, luminosity;
  background-size: contain;
  display: flex;
  justify-content: center;
  max-width: 500px;
  min-width: 30ch;
  max-height: calc(100vh - 245px);
  overflow-y: auto;
  
  text-align: center;
  align-items: center;
}

scrolltop,
scrollbottom {
  display: block;
  max-width: unset;
  background-size: contain, cover;
}

scrolltop {
  height: 99.5px;
  width: 526px;
  margin-left: -12px;
  mask-image: url(/src/assets/top-mask.png);
  -webkit-mask-image: url(/src/assets/top-mask.png);
  background-image: url(/src/assets/scroll-shading.png), url(/src/assets/black-felt.png);
}

scrollbottom {
  height: 105px;
  width: 535px;
  margin-left: -18px;
  mask-image: url(/src/assets/bottom-mask.png);
  -webkit-mask-image: url(/src/assets/bottom-mask.png);
  background-image: url(/src/assets/scroll-bottom.png), url(/src/assets/black-felt.png);
}

button {
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 700;
  font-family: inherit;
  background-color: transparent;
  margin: 10px 10px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.15s;
}

button:hover {
  background: rgba(255, 255, 255, 0.3);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* .playback-controls button {
  border-radius: 50% 50% 0px 0px;
  padding: 7px 3px 4px;
  width: 120px;
} */

label,
.playback-controls button {
  display: inline-flex;
  font-family: 'Berkshire Swash', cursive;
  font-size: 0.8rem;
  color: rgb(107, 61, 0);
  width: auto;
  align-items: center;
  padding: 4px 10px 4px 18px;
  border-radius: 0;
  text-transform: capitalize;
  letter-spacing: 0px;
  border: 1px solid rgba(107, 61, 0, 0);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.playback-controls button {
  padding: 4px 10px;
}

.playback-controls button:hover {
  background: transparent;
  border: 1px solid rgba(107, 61, 0, 1);
}

label:hover {
  color: black;
}

label.disabled {
  opacity: 0.6;
}

input[type='checkbox'] {
  visibility: hidden;
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-family: 'Berkshire Swash', cursive;
  transition: all 0.15s ease-in-out;
}
input[type='checkbox']::before {
  cursor: pointer;
  content: '✓';
  color: transparent;
  line-height: 0.7rem;
  font-size: 1.1rem;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  transform: translateY(-1px);
  border: 1px solid rgb(107, 61, 0);
  background: rgba(255, 255, 255, 0);
  overflow: visible;
  visibility: visible;
  transition: all 0.15s ease-in-out;
}

input[type='checkbox']:checked:before {
  visibility: visible;
  font-size: 1.1rem;
}

.playback-controls input[type='checkbox']:checked:before {
  border: 1px solid rgb(218, 149, 0);
  color: rgb(94, 53, 0);
}

.playback-controls:hover input[type='checkbox']:checked:before {
  color: black;
}

devcontrols {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: white;
  top: 1rem;
  align-self: center;
  font-size: 12px;
  font-weight: bold;
}

devcontrols label,
devcontrols label:hover {
  text-shadow: none;
  color: white;
}

devcontrols input[type='checkbox']:before {
  border-color: white;
}

devcontrols input[type='checkbox']:checked:before {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

devcontrols input[type='checkbox']:disabled:before {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.4);
}
devcontrols input[type='checkbox']:disabled:checked:before {
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.2);
}

devcontrols input[type='checkbox']:checked:before {
  color: white;
}

.playbackbutton {
  opacity: 1;
  z-index: 100;
  margin: 0px;
  width: 80px;
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  height: 400px;
  transition: all 250ms ease-in-out;
  border-radius: 0;
}

.playbackbutton.left {
  border-radius: 50% 0 0 50%;
  margin-left: -580px;
}

.playbackbutton.right {
  border-radius: 0 50% 50% 0;
  margin-left: 580px;
}

content:hover .playbackbutton {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

content:hover .playbackbutton:hover {
  background: rgba(0, 0, 0, 0.8);
}

nameentry {
  padding-top: 2px;
  padding-bottom: 2px;
}

nameentry:nth-of-type(6) {
  padding-top: 2px;
  padding-bottom: 8px;
}
.storyForm {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 0.85rem;
  }
  .playbackbutton {
    width: 60px;
    font-size: 0.75rem;
    color: black;
    background: rgba(255, 255, 255, 0);
    /* transition-duration: 0.15ms; */
    border: 1px solid rgba(255, 255, 255, 0.8);
  }

  content:hover .playbackbutton {
    background: rgba(255, 255, 255, 0.1);
  }

  .playbackbutton.left {
    background: rgba(255, 255, 255, 0);
    margin-left: -450px;
    border-radius: 0 50% 50% 0;
    border-width: 1px 1px 1px 0px;
    padding: 0.6em 0.6em;
    width: 50px;
  }

  .playbackbutton.right {
    background: rgba(255, 255, 255, 0);
    margin-left: 450px;
    border-radius: 50% 0 0 50%;
    border-width: 1px 0px 1px 1px;
    padding: 0.6em 0.6em;
    width: 50px;
  }

  content:hover .playbackbutton:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  scrolltop,
  scrollbottom {
    height: 20px;
    max-width: 100vw;
    mask-image: url(/src/assets/torn-top-mask.png);
    -webkit-mask-image: url(/src/assets/torn-top-mask.png);
    background-image: url(/src/assets/black-felt.png);
    background-position: bottom;
    mask-position: bottom;
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat-x;
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-left: 0px;
  }

  scrollbottom {
    background-position: top;
    mask-position: top;
    mask-image: url(/src/assets/torn-bottom-mask.png);
    -webkit-mask-image: url(/src/assets/torn-bottom-mask.png);
  }

  content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: scroll;
  }

  border {
    padding: 0px;
  }
}
